.country {
    margin-top: 2rem;
    width: 21%;
    min-height: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
    cursor: pointer;

    transition: box-shadow 0.15s, background-color 0.3s, color 0.3s;

    &:hover {
        box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.3);
    }

    .country-flag {
        background-size: cover;
        background-position: center center;
        height: 150px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .country-data {
        height: auto;
        padding: 0.75rem;

        h3 {
            margin-bottom: 0.6rem;
            font-weight: 800;
        }

        .data-row {
            .label {
                font-weight: 600;
            }

            .data {
                letter-spacing: 0.6px;
            }
        }
    }
}

@media (max-width: 1030px) {
    .country {
        width: 45%;
    }
}

@media (max-width: 475px) {
    .country {
        width: 100%;
    }
}

#app.dark .country {
    background-color: $dark;
    box-shadow: none;
}