header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  padding: 16px 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: background 0.3s, color 0.3s;

  h1 {
    font-size: 1.6rem;
    font-weight: 800;
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

    &.lightTheme {
      color: $white;
    }

  }
}

@media (max-width: 445px) {
  header {
    flex-direction: column;

    h1 {
      align-self: flex-start;
    }

    button {
      align-self: flex-end;
    }
  }
}

#app.dark header {
  background-color: $dark;
  color: $white;
}