.country-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button.back-button {
        padding: 8px 26px;
        border: none;
        outline: none;
        background-color: $white;
        color: $dark-text;
        border-radius: 8px;
        box-shadow: 0 0 6px rgba($color: $dark-gray, $alpha: 0.4);

        transition: box-shadow 0.15s, background 0.15s;

        &:hover {
            box-shadow: 0 0 10px rgba($color: $dark-gray, $alpha: 0.4);
        }

        &:active {
            background-color: $light-gray;
        }
    }

    .country-details {
        margin-top: 2.5rem;
        width: 100%;
        display: flex;
        height: 400px;

        .country-flag {
            width: 50%;
            background-position: center center;
            background-size: cover;
            box-shadow: 0 0 12px rgba($color: $dark-gray, $alpha: 0.4);
        }

        .country-area {
            width: 50%;
            padding: 2.5rem;

            h1 {
                font-weight: 900;
            }

            .country-data {
                margin-top: 1.5rem;
                display: flex;

                .left-box,
                .right-box {
                    width: 50%;
                }

                .data-row {
                    font-size: 1.1rem;
                    margin-bottom: 0.5rem;

                    span.label {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (max-width: 990px) {
    .country-detail {
        .country-details {
            flex-direction: column;
            height: 700px;

            .country-flag {
                height: 50%;
                width: 100%;
            }

            .country-area {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                height: auto;

                .country-data {
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;

                    .right-box {
                        margin-top: 1rem;
                    }
                }
            }
        }

        margin-bottom: 3rem;
    }
}

#app.dark .country-detail {
    button.back-button {
        background-color: $dark;
        color: $white;
        box-shadow: none;
    }

    .country-details {
        .country-flag {
            box-shadow: none;
        }
    }
}