.home {
    transition: background 0.3s, color 0.3s;


    .search-row {
        display: flex;
        justify-content: space-between;
        min-height: 3rem;

        .search-bar {
            width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 10px;
            padding: 4px;
            box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);

            transition: box-shadow 0.15s;

            &:hover,
            &:active,
            &:focus {
                box-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.3);
            }

            i {
                margin-left: 0.8rem;
                margin-right: 0.8rem;
                color: $dark-gray;
            }

            input {
                border: none;
                height: 100%;
                width: 100%;
                outline: none;
                font-size: 0.85rem;
                letter-spacing: 1px;
            }
        }

        .region-filter {

            select {
                border: none;
                height: 100%;
                outline: none;
                border-radius: 8px;
                box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
                font-weight: 500;
                padding: 0 4px;

                transition: box-shadow 0.15s;

                &:hover,
                &:focus {
                    box-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.3);
                }
            }
        }
    }

    .countries-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .error-container {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-weight: 500;
            opacity: 0.8;
        }
    }
}

@media (max-width: 635px) {
    .home {
        .search-row {
            flex-direction: column;

            .search-bar {
                margin-bottom: 0.7rem;
                width: 100%;
                padding: 10px 5px;
            }

            .region-filter {
                select {
                    padding: 8px 4px;
                    width: 100%;
                }
            }
        }
    }
}

#app.dark .home {
    .search-row {

        .search-bar {
            box-shadow: none;
            background-color: $dark;

            i {
                color: $white;
            }

            input {
                background-color: $dark;
                color: $white;

                &::placeholder {
                    color: $white;
                }
            }
        }

        .region-filter {

            select {
                background-color: $dark;
                color: $white;
                box-shadow: none;
            }
        }
    }
}