/* SCSS Modules */
@import "variables";

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;700;800&display=swap');

/* Component styles */
@import 'components/header';
@import 'components/animations';
@import 'components/view';
@import 'components/country';

/* Views Styles */
@import 'views/home';
@import 'views/country-detail';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
}

#app {
  width: 100%;
  min-height: 100%;
  color: $dark-text;
}

#container {
  min-height: 100vh;
  width: 100%;
  padding: 24px 5%;
  margin-top: 50px;
  background-color: $light-gray;
}

#app.dark {
  color: $white;

  #container {
    background-color: $dark-blue;
  }
}