$white: #FFF;

// Very Light Gray (Light Mode Background)
$light-gray: hsl(0, 0%, 98%);

// Dark Gray (Light Mode Input):
$dark-gray: hsl(0, 0%, 52%);

// Very Dark Blue (Light Mode Text)
$dark-text: hsl(200, 15%, 8%);

// Very Dark Blue (Dark Mode Background)
$dark-blue: hsl(207, 26%, 17%);

// Dark Blue (Dark Mode Elements)
$dark: hsl(209, 23%, 22%);